body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-image: url(design/bg.jpg);
}

#container {
	min-width: 30em;
	max-width: 78em;
	margin: 0 auto;
	color: White;
}

header {
	font-size: 1.25em;
}

nav {
	margin-top: 1em;
	margin-bottom: 1em;
}
nav a{
	font-size: 1.5em;
	text-decoration: none;
	margin-right: 1em;
	padding: 0.15em;
	border: 2px solid White;
}

nav a:hover {
	color: black;
	background-color: white;
}

a {
	text-decoration: none;
}

a:visited {
	color: White; 
}

.chyba {
	color: Red;
}

form {
	margin: 2em 0 2em 0;
}

legend {
	border: 2px White solid;
	padding: 0.25em;
}

#footer-nav {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#footer-nav a{
	color: #feff22;
	margin-right: 0.5em;
}

#info a{
	color: #22ff24;
}


#kontakt a {
	color: #22ff24;
}

#content {
	margin: 2em 0 2em 1em;
	border: 2px solid White;
	padding: 0 0.75em 0.5em 0.75em;
	border-radius: 1em;
}

#terms {
	max-width: 60em;
}
